.passwordIconHover * {
  transition: 0.4s;
  background-color: whitesmoke;
}

.passwordIconHover:hover * {
  font-size: large;
  background-color: rgb(197, 218, 255);
}

.content-container {
  border-radius: 20px;
  box-shadow: inset 0px 0px 1px 1px #42424242;
  border-width: 10px;
  border-color: transparent;
  border-style: solid;
  padding: 20px;
}
