.passwordIconHover * {
  transition: 0.4s;
  background-color: whitesmoke;
}

.passwordIconHover:hover * {
  font-size: large;
  background-color: rgb(197, 218, 255);
}

.content-container {
  border-radius: 20px;
  box-shadow: inset 0px 0px 1px 1px #42424242;
  border-width: 10px;
  border-color: transparent;
  border-style: solid;
  padding: 20px;
}

.productCard {
  border: #42424242 solid 1px;
  border-radius: 15px;
}

.alignment {
  display: flex;
  align-items: center;
}

.btn {
  font-size: 3vw !important;
}

.cart {
  background-color: rgba(234, 250, 253, 0.548);
}

body {
  background: url("/src/imgs/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
